
body {
    background-color: lightblue ;
    color: black ;
    font-size: 150%;
}   

h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.56);
    opacity: 1;
    animation: fade-in 3s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}

h2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #824112;
    text-decoration: underline;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

h3 {
    
    font-size: 25px;
    font-family: sans-serif;
    color: purple;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

p {
    line-height: 30px;
}

img {
    border: solid 5px black ;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 20px;

}

/* li {
    display: inline block;
    /* margin-left: 50px;
    padding: 8 px; 
} */

div ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}

div ul li {
    border: solid 2px black;
    /*width: 50%;  Adjust the width as needed to control the number of columns */
    box-sizing: border-box;
}

div ul li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

div ul li:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
}

div ul li:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

nav {
    border: 2px solid rgb(131, 93, 93);
    display: block; /* Change this to block to push the nav bar below */
    background-color: #b3ada8;
}

nav ul li {
    border: solid 2px black;
    display: block; /* Display list items vertically on mobile */
    margin: 5px 0;  /* Add spacing between list items */
    width: 1fr;
    background-color: #f4f1ff; 
    -webkit-transition: background-color 1.0s;
    transition: background-color 1.0s;
}

nav ul li:hover {
    border: solid 2px black;
    display: block; /* Display list items vertically on mobile */
    margin: 5px 0;  /* Add spacing between list items */
    width: 1fr;
    background-color: #d0ffd0; 
    
}

nav a {
    text-decoration: none;
    color: black;
    display: block; /* Display the navigation as a column on mobile */
}

#skip {
    position: absolute;
    left: -500px;
    -webkit-transition: left 0.5s;
    transition: left 0.5s; /* Add a smooth transition for animation */
}

#skip:focus {
    position: relative;
    background-color: whitesmoke;
    left: 20px;
    border: solid 2px black;
}

.thumbnail {
    border: solid 10px blue;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: block;
    width: 250px;
}

.gallery img, .gallery video {
    border: solid 10px blue;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: block;
    width: 250px;
}

body > a {
    position: fixed;
    left: -400px;
}

.pets {
    padding: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    gap: 15px;
}

p {
    padding: 20px;
    line-height: 1.5;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr; 
}

nav ul {
    justify-content: center;
    display: block;
}


.active {
    background-color: black;

}

.active a {
    text-decoration: underline;
    color: pink;
}

.gif {
    visibility: visible;
}

.pic {
    display: none;
}

ol li {
    list-style-type: square;
    margin-left: 20px;
}

ol {
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}



/* Tablet view */
@media screen and (min-width: 481px) and (max-width: 800px){
    nav ul {
        display: flex;
        justify-content: center;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #skip{
        position: relative;
        background-color: whitesmoke;
        left: 20px;
        border: solid 2px black;
        }

    div ul li:nth-child(3) {
        grid-column: 3;
        grid-row: 3;
    }

    div ul li:nth-child(2) {
        grid-column: 2;
        grid-row: 2;
    }

    div ul li {
        border: 3px purple dashed;
    }

    div img, div video{
        background: lightpink;
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }

    h2+img,span+img {
        transform: translate(50%, 0%);
    }

    .gallery {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
        width: 100%;
        display: inline-flex;
        justify-content: flex-start;
      }
      
    .gallery * {
        display: inline-block;
        padding: 10px;
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .gallery p, .gallery figcaption {
        background-color: white;
        width: fit-content;
    }

    
}


@media screen and (prefers-reduced-motion: reduce)
{
    #skip a{
        -webkit-transition: left 0s;
        transition:left  0s; 
    }

    
    h1 {
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-shadow: 4px 4px 10px rgba(0,0,0,0.56);
        animation: fadeIn 0s;
    }

    nav ul li {
        border: solid 2px black;
        display: block; /* Display list items vertically on mobile */
        margin: 5px 0;  /* Add spacing between list items */
        width: 20%;
        background-color: #f4f1ff; 
        -webkit-transition: background-color 0s;
        transition: background-color 0s;
    }

    .gif {
        display: none;
    }
    
    .pic {
        visibility: visible;
    }

    h2 {
        background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow_animation 0s ease-in-out infinite;
        background-size: 400% 100%;
    }
    
}

main {
    border: dashed 2px gray;
}